<p>﻿<a href="https://translate.google.com/translate?hl=en&amp;sl=pl&amp;tl=en&amp;u=https://kpiasek.gitlab.io/senga.codegenerator/Readme.html">English version</a> - machine translation!</p>
<h1>Senga.CodeGenerator</h1>
<p>Solucja jest próbą stworzenia w pełni produktywnego szablonu generatora kodu źródłowego z założeniem, że ma być publikowany, jako pakiet NuGet.</p>
<h2>Roslyn Source Generator</h2>
<p><a href="https://docs.microsoft.com/dotnet/csharp/roslyn-sdk/"><em>Roslyn</em></a> od wersji 16.8 Preview 3 został wzbogacony o nową funkcjonalność: generator kodu źródłowego, który umożliwia generację fragmentów kodu źródłowego podczas kompilowania projektu. Potencjalnie daje to możliwości wyeliminowanie konieczności kodowania wielu powtarzalnych schematów, chociażby implementacji takich interejsów jak <a href="https://docs.microsoft.com/dotnet/api/system.iequatable-1?view=net-5.0"><em>IEquatable</em></a>.</p>
<p>Wielkie podziękowania dla Daniela Cazzulino za wpis <a href="https://www.cazzulino.com/source-generators.html">How to generate code using Roslyn source generators in real world scenarios</a> oraz zespołowi projektu <em>Roslyn</em> za <a href="https://github.com/dotnet/roslyn/blob/master/docs/features/source-generators.cookbook.md">Source Generators Cookbook</a>.</p>
<h2>Cel</h2>
<p>Celem jest stworzenie szablonu dla projektu generatora kodu źródłowego posiadającego następujące cechy:
- możliwość wykorzystywania szablonów tekstowych
- zapis wygenerowanych fragmentów kodu źródłowego do plików
- logowanie pracy generatora
- łatwość uruchamiania i debugowania
- tworzenie pakietu NuGet zawierającego niezbędne zależności</p>
<h2>Napotkane problemy</h2>
<ul>
<li>Zależności - w normalnych projektach, które budują bibliotekę klas, zależności - zwykle dostarczane w postaci pakietów NuGet - podczas debugowania są ładowane przez śrdowisko uruchomieniowe z podręcznych magazynów pakietów NuGet. Publikacja natomiast odbywa się w postaci pakietu NuGet, który jest zależny od innych pakietów. W przypadku generatora kodu źródłowego sytuacja jest inna, ponieważ biblioteka implementująca generator jest ładowana podczas pracy kompilatora i system musi być w stanie załadować zależności w standardowy sposób bez wsparcia ze strony środowiska uruchomieniowego.</li>
<li><a name="initialize"></a>Inicjalizacja - podczas wywoływania metody <a href="https://docs.microsoft.com/dotnet/api/microsoft.codeanalysis.isourcegenerator.initialize?view=roslyn-dotnet"><em>ISourceGenerator.Initialize</em></a> niedostępne są opcje kompilacji. </li>
<li>Debugowania - używanie mechanizmu <em>Debugger.Launch()</em> w celu debugowania jest niewygodne i potrafi sprawiać problemy.</li>
<li>Testy jednostkowe - wymagają stworzenia dodatkowej infrastruktury.</li>
<li>Pakiet NuGet - najprostszym rozwiązaniem problemu z zależnościami wydaje się umieszczenie wszystkich asemblacji w jednym podkatalogu z biblioteką generatora kodu żródłowego. Niestety w takim przypadku po instalaccji pakietu w projekcie konsumującym generator wszystkie asemblacje pojawią się jako <em>Analizatory</em>.</li>
</ul>
<h2>Struktura solucji</h2>
<div class="codehilite"><pre><span></span><code>    Senga.CodeGenerator
    │
    ├ src
    │  │
    │  ├ Senga.CodeGenerator
    │  ├ Senga.CodeGenerator.Common
    │  └ Senga.CodeGenerator.Pack
    │
    └ Tests
       │
       ├ TestCodeGeneratorConsumer
       └ TestCodeGenerators
</code></pre></div>

<ul>
<li><strong>Senga.CodeGenerator</strong> - właściwy kod generatora; implementacje <a href="https://docs.microsoft.com/dotnet/api/microsoft.codeanalysis.isourcegenerator?view=roslyn-dotnet"><em>ISourceGenerator</em></a>.</li>
<li><strong>Senga.CodeGenerator.Common</strong> - elementy wspólne wykorzystywane przez właściwy generator oraz przez projekty konsumujące generator; na przykład klasy <a href="https://docs.microsoft.com/dotnet/csharp/programming-guide/concepts/attributes/">Atrybutów</a>.</li>
<li><strong>Senga.CodeGenerator.Pack</strong> - projekt odpowiedzialny za stworzenie pakietu NuGet. Nie zawiera żadnych implementacji.</li>
<li><strong>TestCodeGeneratorConsumer</strong> - projekt umożliwiający testowanie poprawnego funkcjonowania pakietu NuGet.</li>
<li><strong>TestCodeGenerators</strong> - projekt testów jednostkowych.</li>
</ul>
<h2>Przyjęte rozwiązania</h2>
<p>Generator wykorzystuje biblioteki <a href="https://serilog.net/">Serilog</a> do logowania własnej aktywności.</p>
<p><a href="src/Senga.CodeGenerator/Generators/EqualsImplGenerator.cs"><em>EqualsImplGenerator</em></a> do generowania kodu źródłowego wykorzystuje projekt <a href="https://github.com/scriban/scriban">Scriban</a> (szablony tekstowe).</p>
<p><a href="src/Senga.CodeGenerator/Generators/GeneratorBase.cs"><em>GeneratorBase</em></a> dziedziczy po klasie <a href="src/Senga.CodeGenerator/Helpers/LogBase.cs">LogBase</a> i implementuje abstrakcyjną klasę bazową dla generatorów. Jej głównym zadaniem jest prawidłowe dostarczenie mechanizmu logowania zdarzeń. Po pierwsze wymaga to odczytania ścieżki logowania z przekazanych ustawień kompilacji projektu konsumującego generator i przekazanie jej do <em>LoggerHelpers.LogPath</em> co, gdy wydarza się po raz pierwszy po załadowaniu asemblacji, powoduje zmianę sposobu logowania z logowania do pamięci na logowanie do pliku (użycie logowania do pamięci jest spowodowane brakiem dostępu do opcji kompilacji podczas <a href="#initialize">inicjalizacji</a>). Po drugie rozwiązania problemu związanego ze sposobem ładowania generatorów do pamięci. Ponieważ sposób w jaki generatory są wykorzystywane wyklucza użycie referencji projektu (wszystkie zależności muszą być dostarczone wraz z generatorem i w scenariuszu bazowym znaleźć się w jednym katalogu wraz z biblioteką klas implementującą generator). Przyjęcie takiego rozwiązania powoduje, że wszystkie asemblacje pojawiają się w projekcie wykorzystującym generator jako <em>Analizatory</em> (<em>Dependencies/Analyzer</em>). Mało tego podczas kompilacji wszystkie te biblioteki będą sprawdzane na okoliczność występowania klas z atrybutem <a href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.generatorattribute?view=roslyn-dotnet"><em>[Generator]</em></a>. W związku z powyższym lepszym rozwiązaniem jest umieszczenie zależności w odrębnym katalogu - który nie jest podkatalogiem katalogu <em>Analyzers</em> - w pakiecie NuGet oraz zaimplementowanie statycznej klasy <a href="src/Senga.CodeGenerator/Helpers/AssemblyResolve.cs"><em>AssemblyResolve</em></a> dostarczającej obsługę zdarzenia <a href="https://docs.microsoft.com/dotnet/api/system.appdomain.assemblyresolve?view=net-5.0"><em>AssemblyResolve</em></a> w celu zaladowania bibliotek. Obsługa zdarzenia musi zostać zainstalowana zanim dojdzie do próby załadowania jakiegokolwiek niestandardowego typu, co spowoduje błąd nieodnalezienia biblioteki lub jej zależności. Obsługa instalowana jest w konstruktorze statycznym, który w takiej konfiguracji wykonywany jest najwcześniej. Gdyby w tej klasie znalazły się definicje pól lub właściwości wykorzystujące niestandardowe biblioteki (na przykład logowania) ładowanie nie powiodło by się. W sytuacji, gdy tego typu implementacja została wyniesiona do klasy bazowej problem nie istnieje.</p>
<p><a href="src/Senga.CodeGenerator/Helpers/GeneratorHelpers.cs"><em>GeneratorHelpers</em></a> implementuje metody pomocnicze umożliwiające między innymi:
- dostęp do opcji kompilacji projektu konsumującego generator
- zapis plików - w zależności od opcji kompilacji - z wygenerowanymi fragmentami kodu źródłowego</p>
<p><a href="src/Senga.CodeGenerator/Senga.CodeGenerator.csproj"><em>Senga.CodeGenerator.csproj</em></a> posiada tylko dwie modyfikacje w stosunku do domyślnego projektu tworzonego przez VS:
- właściwość <em>IsPackable</em> ustawioną na <em>false</em> - projekt nie bierze udziału w budowaniu pakietu NuGet
- właściwość <em>CopyLocalLockFileAssemblies</em> ustawioną na <em>true</em> - wszystkie asemblacje zależności, z wyjątkiem <a href="#runtimes">bibliotek uruchomieniowych</a>, są kopiowane do katalogu wynikowego; referencje do projektu dodawane są standardowo z poziomu poleceń VS.</p>
<p><a href="src/Senga.CodeGenerator/Senga.CodeGenerator.props"><em>Senga.CodeGenerator.props</em></a> definiuje dodatkowe właściwości kompilacji dostępne z poziomu generatora kodu źródłowego:
- <em>ProjectDir</em> - właściwość standardowo dostępna podczas kompilacji
- <em>DebugSourceGenerators</em> - decyduje o aktywowaniu debugera w kodzie generatora; domyślna wartość <em>false</em>
- <em>SaveSourceGeneratorSources</em> - decyduje o włączeniu zapisu wygenerowanych fragmentów kodów źródłowych do pliku; domyślna wartość <em>true</em>
- <em>SourceGeneratorSourcePath</em> - definiuje względną ścieżkę, do której zapisywane są fragmenty wygnerowanych kodów źródłowych, o ile ta opcja została aktywowana; wartość domyślna: <em>Generated\</em>
- <em>SourceGeneratorSourcesDir</em> - pełna ścieżka, do której zapisywane są fragmenty wygnerowanych kodów źródłowych, o ile ta opcja została aktywowana; jest kombinowana ze ścieżek zdefiniowanych w <em>IntermediateOutputPath</em> oraz <em>SourceGeneratorSourcePath</em>; przykład: dla projektu w katalogu <em>D:\TestProject</em>, konfiguracji <em>Debug</em>, dla docelowej wersji Framework .Net 5.0 oraz domyślnej wartości <em>SourceGeneratorSourcePath</em> będzie to <em>D:\TestProject\obj\Debug\net5.0\Generated</em>.</p>
<p><a href="src/Senga.CodeGenerator.Common/Senga.CodeGenerator.Common.csproj"><em>Senga.CodeGenerator.Common.csproj</em></a> jest standardowym projektem z właściwością <em>IsPackable</em> ustawioną na <em>false</em> - projekt nie bierze udziału w budowaniu pakietu NuGet.</p>
<p><a href="src/Senga.CodeGenerator.Pack/Senga.CodeGenerator.Pack.csproj"><em>Senga.CodeGenerator.Pack.csproj</em></a> definiuje właściwości pakietu NuGet.</p>
<p><a name="pack"></a><a href="src/Senga.CodeGenerator.Pack/Directory.Build.props"><em>Directory.Build.props</em></a> jest niezbędny w każdej solucji bazującej na proponowanym szablonie. Efektem zdefiniowanych operacji powinno być zbudowanie pakietu o następującej architekturze:</p>
<div class="codehilite"><pre><span></span><code>    NuGet Pack
    │
    ├ build
    │  │
    │  └ Senga.CodeGenerator.props
    │
    ├ lib
    │  │
    │  └ netstandard2.0
    │     │
    │     ├ &lt;Pliki wynikowe projektu 
    │     ├ Senga.CodeGenerator.Common&gt;
    │     └ ...
    │
    ├ analyzers
    │   │
    │   └ dotnet
    │      │
    │      └ cs
    │         │
    │         └ Senga.CodeGenerator.dll
    │
    └ assemblies
        │
        ├ &lt;Wszystkie pliki i podkatalogi z katalogu 
        ├ wynikowego projektu Senga.CodeGenerator z 
        ├ wyjątiem biblioteki Senga.CodeGenerator.dll&gt;
        └ ...
</code></pre></div>

<p><a href="Tests/TestCodeGeneratorConsumer/TestCodeGeneratorConsumer.csproj"><em>TestCodeGeneratorConsumer.csproj</em></a> projekt testowy wykorzystujący utworzony pakiet NuGet.</p>
<p><a href="Tests/TestCodeGenerators/CodeGeneratorsTests.cs"><em>CodeGenerators_Test</em></a> implementuje metodę <em>CompileAndLoadAssembly</em>, która przeprowadza kompilację przekazanego kodu źródłowego z wykorzystaniem generatorów. Podczas kompilacji wykorzystywana jest również klasa <a href="Tests/TestCodeGenerators/Helpers/AnalyzerConfigOptionsProviderForTest.cs"><em>AnalyzerConfigOptionsProviderForTest</em></a>, która dostarcza opcje kompilacji. W tym wypadku umożliwia to pełne przetestowanie mechanizmu logowania i zapisu plików z wygenerowanymi fragmentami kodu źródłowego. Zastosowanie tych mechanizmów nie tylko umożliwia przetestowanie generatorów, ale również dostarcza narzędzia do debugowania.</p>